@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Song Form";
}

<form asp-controller="Home" asp-action="Sing" method="post">
    <table>
        <tr>
            <td> Enter the number of monkeys between 50 and 100:
            <td><input type="number" min="50" max="100" name="monkeys" />
        </tr>
    </table>
    <input type="submit" value="Submit" />
</form>